body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h2, h3 {
    text-align: center;
    color: #333;
}

form {
    margin: 20px;
}

div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilos para o topo */
frame[name="topo"] body {
    background-color: #f4f4f4;
    color: #333;
    padding: 10px;
}

/* Estilos para o menu */
frame[name="menu"] body {
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

frame[name="menu"] ul {
    list-style-type: none;
    padding: 0;
}

frame[name="menu"] li {
    padding: 10px;
    margin: 5px 0;
    background-color: #ddd;
    text-align: center;
}

frame[name="menu"] li:hover {
    background-color: #ccc;
}

frame[name="menu"] a {
    text-decoration: none;
    color: #333;
    display: block;
}

/* Estilos para o conteúdo */
frame[name="conteudo"] body {
    background-color: #fff;
    color: #333;
    padding: 20px;
}
